<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="css/login-register.css">
<head>
  <%- include ('../partials/head')%>
</head>
<body>
  <%- include('../partials/nav')%>
  <%- include ('../partials/hero')%>
  <main>
    <figure>
      <h2><%= jeep.title  %> </h2>
      <img src="/<%= jeep.pathURL %> " alt="<%= jeep.description %> ">
      <a href="<%= jeep.creditLink %> ">Photo By <%= jeep.credit %></a>
      <figcaption>
        <%= jeep.description%> 
      </figcaption>
    </figure>
  </main>
  <%- include('../partials/footer')%>
  <script src="js/main.js" defer></script>
</body>
</html>